* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: hsla(211, 88%, 36%, 1);
    --color-success: #00bf7f;
    --color-warning: #f5bf2b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-ligth: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #000;
    --color-bg1: hsla(211, 94%, 51%, 1);
    --color-bg2: rgba(255, 255, 255, 1);
    --color-bg3: rgb(1, 41, 126);
    --color-blue-shadow: hsla(211, 88%, 36%, 0.2);
    --color-graw-bonus: rgb(32, 32, 32);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

/*Garante que o conteudo fique centralizado no meio da pagina*/
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
    line-height: 1.35;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white)
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    text-align: center;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-success);
    color: var(--color-white);
}



/* ================ FOOTER ===================*/
footer {
    background: var(--color-primary);
    padding-top: 5rem;
    font-size: 0.9rem;
    padding: 6rem 0
}

.footer__icon {
    width: 25vw;
    height: auto;
}


.footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.footer__container>div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__copyrigth {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}

/* ----------------------------- MEDIA QUERIES (Tablets) ---------------- */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md)
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    
    /* ----------------------- FOOTER --------------*/

}




/* ----------------------------- MEDIA QUERIES (Phones) ---------------- */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    /* ----------------------- FOOTER --------------*/
    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

    .footer__1 p {
        margin: 1rem auto;
        text-align: center;
    }

    .footer__socials {
        justify-content: center;
    }


    .footer__icon {
        padding: 0 20%;
        width: 100vw;
        height: auto;
    }
}